@using Microsoft.AspNetCore.Identity;
@model IEnumerable<IdentityRole>

<h1 class="bg-info text-white">All Roles</h1>

<form asp-action="Create" method="post">
    <label for="nombre">Rol</label>
    <input name="name" type="text" />
    <button type="submit" class="btn btn-sm btn-primary">
        Crear
    </button>




</form>
